wpf/Molotok34/Connected Services/Api/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Molotok34.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Molotok34.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProducts">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Products" nillable="true" type="tns:Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProducts" nillable="true" type="tns:ArrayOfProducts" />
  <xs:complexType name="Products">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:int" />
      <xs:element minOccurs="0" name="Categories" nillable="true" type="tns:Categories" />
      <xs:element minOccurs="0" name="Cost" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdCategory" type="xs:int" />
      <xs:element minOccurs="0" name="Img" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSales" />
      <xs:element minOccurs="0" name="Stars" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Products" nillable="true" type="tns:Products" />
  <xs:complexType name="Categories">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProducts" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Categories" nillable="true" type="tns:Categories" />
  <xs:complexType name="ArrayOfSales">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sales" nillable="true" type="tns:Sales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSales" nillable="true" type="tns:ArrayOfSales" />
  <xs:complexType name="Sales">
    <xs:sequence>
      <xs:element minOccurs="0" name="Clients" nillable="true" type="tns:Clients" />
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdClient" type="xs:int" />
      <xs:element minOccurs="0" name="IdProduct" type="xs:int" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:Products" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sales" nillable="true" type="tns:Sales" />
  <xs:complexType name="Clients">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FullName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sales" nillable="true" type="tns:ArrayOfSales" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Clients" nillable="true" type="tns:Clients" />
  <xs:complexType name="ArrayOfCategories">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Categories" nillable="true" type="tns:Categories" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategories" nillable="true" type="tns:ArrayOfCategories" />
  <xs:complexType name="ArrayOfClients">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Clients" nillable="true" type="tns:Clients" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClients" nillable="true" type="tns:ArrayOfClients" />
  <xs:complexType name="ArrayOfAdmins">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Admins" nillable="true" type="tns:Admins" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAdmins" nillable="true" type="tns:ArrayOfAdmins" />
  <xs:complexType name="Admins">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="IdPermission" type="xs:int" />
      <xs:element minOccurs="0" name="Login" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Permissions" nillable="true" type="tns:Permissions" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Admins" nillable="true" type="tns:Admins" />
  <xs:complexType name="Permissions">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccessCategories" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AccessClients" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="AccessProducts" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Admins" nillable="true" type="tns:ArrayOfAdmins" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Permissions" nillable="true" type="tns:Permissions" />
</xs:schema>